<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appmovil.myappuberclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--tools:replace="android:icon"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.conductor.DetalleHistorialViajeConductorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" ></activity>
        <activity
            android:name=".activities.cliente.DetalleHistorialViajeClienteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.conductor.HistorialViajesConductorActivity"
            android:parentActivityName=".activities.conductor.MapConductorActivity" />
        <activity
            android:name=".activities.cliente.HistorialViajeClienteActivity"
            android:parentActivityName=".activities.cliente.MapClienteActivity" />
        <activity
            android:name=".activities.conductor.ActualizarPerfilConductorActivity"
            android:parentActivityName=".activities.conductor.MapConductorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.cliente.ActualizarPerfilClienteActivity"
            android:parentActivityName=".activities.cliente.MapClienteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.conductor.NotificacionLlamadaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activities.cliente.CalificacionConductorActivity" />
        <activity android:name=".activities.conductor.CalificacionClienteActivity" />
        <activity
            android:name=".activities.conductor.MapDriverBookingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.cliente.MapClientBookingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".receivers.AcceptReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.CancelReceiver"
            android:enabled="true" />

        <service android:name=".servicios.MyFirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.cliente.SolicitarConductorActivity"
            android:parentActivityName=".activities.cliente.DetalleSolicitudActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activities.cliente.DetalleSolicitudActivity"
            android:parentActivityName=".activities.cliente.MapClienteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activities.conductor.MapConductorActivity" />
        <activity android:name=".activities.cliente.MapClienteActivity" />
        <activity
            android:name=".activities.conductor.RegistrarConductorActivity"
            android:parentActivityName=".activities.SeleccionarOpcionActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".activities.SeleccionarOpcionActivity" />
        <activity
            android:name=".activities.cliente.RegistrarseActivity"
            android:parentActivityName=".activities.SeleccionarOpcionActivity" />
        <activity
            android:name=".activities.SeleccionarOpcionActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>